
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  counter-reset: section;
  display: flex;
  justify-content: center;
}

#news-container{
  display: flex;
  flex-direction: column;
  .news-list{
    width: 700px;
    }
  }

#first-header{
  width: 300px;
  font-size: 80px;
  text-align: center;
  border:  3px solid #000000;
}
#refresh-button{
  width: 300px;
  font-size: 30px;
  background-color: white;
}
#refresh-button:active{
  background-color: black;
  color: white;
  border:  3px solid #ffffff;

}
.gu-image{
  margin: 5px;
  width: 300px;
  height: auto;
}
.page-buttons{
  justify-content: space-evenly ;

  display: flex;
}